# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Optional: if you use test coverage
coverage/
